sudo: false

language: java

before_cache:
  - rm -f $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/

cache:
  directories:
  - $HOME/.gradle/caches/
  - $HOME/.gradle/wrapper/

jdk:
- openjdk11

notifications:
  email: false
  slack: stmarobotics:4VJE20hk9sKGbZsG3p9kMgyw

before_deploy:
      - git config --local user.name "7028Robotics"
      - git config --local user.email "7028Robotics@mystma.org"
      - git tag "1.0.$TRAVIS_BUILD_NUMBER"
